<%- include ("partials/header") %>
<h1>Results Page</h1>

<ul>
    <li>The answer is: <%= solution[0] %></li>
    <li>Your answer is: <%= solution[1] %></li>
</ul>


<a href="/"> Search Again!</a>


<%- include ("partials/footer") %>
